:root {
    --invisible-element: black;
    --first-element-hover: #ff00ed;
    --second-element-hover: #ff00ed;
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.elements-container {
    width: 100%;
    height: 5%;
    display: flex;
}

.elements-1 {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.elements-2 {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

div.elements-1:nth-of-type(even) {
    transition: background-color 2.5s ease-out -.75s;
    background-color: var(--invisible-element);
}

div.elements-1:nth-of-type(even):hover {
    background-color: var(--first-element-hover);
}

div.elements-1:nth-of-type(odd) {
    transition: background-color 2.5s ease-out -.75s;
    background-color: var(--invisible-element);
}

div.elements-1:nth-of-type(odd):hover {
    background-color: var(--second-element-hover);
}

div.elements-2:nth-of-type(even) {
    transition: background-color 2.5s ease-out -.75s;
    background-color: var(--invisible-element);
}

div.elements-2:nth-of-type(even):hover {
    background-color: var(--second-element-hover);
}

div.elements-2:nth-of-type(odd) {
    transition: background-color 2.5s ease-out -.75s;
    background-color: var(--invisible-element);
}

div.elements-2:nth-of-type(odd):hover {
    background-color: var(--first-element-hover);
}

